service: healthcare-api

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: ap-south-1
  environment:
    DOCTORS_TABLE: ${self:service}-${sls:stage}-doctors
    APPOINTMENTS_TABLE: ${self:service}-${sls:stage}-appointments
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - ses:SendEmail
      Resource: "*"

functions:
  healthCheck:
    handler: handler.healthCheck
    events:
      - http:
          path: /
          method: get
          cors: true

  getDoctors:
    handler: src/handlers/doctors.list
    events:
      - http:
          path: doctors
          method: get
          cors: true

  createDoctor:
    handler: src/handlers/doctors.create
    events:
      - http:
          path: doctors
          method: post
          cors: true

  bookAppointment:
    handler: src/handlers/appointments.book
    events:
      - http:
          path: appointments
          method: post
          cors: true

  getAppointments:
    handler: src/handlers/appointments.list
    events:
      - http:
          path: appointments
          method: get
          cors: true

  getAvailableSlots:
    handler: src/handlers/appointments.getSlots
    events:
      - http:
          path: slots
          method: get
          cors: true
  updateAppointment:
    handler: src/handlers/appointments.update
    events:
      - http:
          path: appointments/{id}
          method: put
          cors: true

  sendDoctorAlert:
    handler: src/triggers/postConfirmation.handler
    events:
      - cognitoUserPool:
          pool: ${self:service}-user-pool-${sls:stage}
          trigger: PostConfirmation

resources:
  Resources:
    DoctorsTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        TableName: ${self:service}-${sls:stage}-doctors
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: specialization
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: SpecializationIndex
            KeySchema:
              - AttributeName: specialization
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    AppointmentsTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        TableName: ${self:service}-${sls:stage}-appointments
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: doctorId
            AttributeType: S
          - AttributeName: patientId
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: DoctorAppointmentsIndex
            KeySchema:
              - AttributeName: doctorId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: PatientAppointmentsIndex
            KeySchema:
              - AttributeName: patientId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:service}-user-pool-${sls:stage}
        UsernameAttributes:
          - email
        AutoVerifiedAttributes:
          - email
        Schema:
          - Name: role
            AttributeDataType: String
            Mutable: true
          - Name: specialization
            AttributeDataType: String
            Mutable: true
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireNumbers: true

    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:service}-client-${sls:stage}
        UserPoolId:
          Ref: CognitoUserPool
        ExplicitAuthFlows:
          - ADMIN_NO_SRP_AUTH
        GenerateSecret: false
        WriteAttributes:
          - email
          - name
          - phone_number
          - custom:role
          - custom:specialization
    PostConfirmationLambdaPermission:
      Type: AWS::Lambda::Permission
      Properties:
        Action: lambda:InvokeFunction
        # This references your function: sendDoctorAlert -> SendDoctorAlertLambdaFunction
        FunctionName: !GetAtt SendDoctorAlertLambdaFunction.Arn 
        Principal: cognito-idp.amazonaws.com
        # This allows ONLY your specific User Pool to trigger it
        SourceArn: !GetAtt CognitoUserPool.Arn

  Outputs:
    UserPoolId:
      Value:
        Ref: CognitoUserPool
    UserPoolClientId:
      Value:
        Ref: CognitoUserPoolClient