service: healthcare-api

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: ap-south-1
  environment:
    DOCTORS_TABLE: ${self:service}-${self:provider.stage}-doctors
    APPOINTMENTS_TABLE: ${self:service}-${self:provider.stage}-appointments
  # --- SECURITY PERMISSIONS ---
  # This section gives your Lambda functions permission to Read/Write to DynamoDB
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - ses:SendEmail
      Resource: "*"

# --- API ENDPOINTS (FUNCTIONS) ---
functions:
  # 1. Health Check
  healthCheck:
    handler: handler.healthCheck
    events:
      - http:
          path: /
          method: get
          cors: true

  # 2. Get List of Doctors
  getDoctors:
    handler: src/handlers/doctors.list
    events:
      - http:
          path: doctors
          method: get
          cors: true

  # 3. Create a Doctor (For internal use/seeding)
  createDoctor:
    handler: src/handler/doctors.create
    events:
      - http:
          path: doctors
          method: post
          cors: true

  # 4. Book Appointment
  bookAppointment:
    handler: src/handlers/appointments.book
    events:
      - http:
          path: appointments
          method: post
          cors: true
  # 5. Get Patient Appointments
  getAppointments:
    handler: src/handlers/appointments.list
    events:
      - http:
          path: appointments
          method: get
          cors: true
  # 6. Get Available Slots
  getAvailableSlots:
    handler: src/handlers/appointments.getSlots
    events:
      - http:
          path: slots
          method: get
          cors: true
  # 7. Send admin email alert
  sendDoctorAlert:
    handler: src/triggers/postConfirmation.handler
    events:
      - cognitoUserPool:
          pool: CognitoUserPool # References the resource above
          trigger: PostConfirmation
# --- INFRASTRUCTURE (DATABASE TABLES) ---
resources:
  Resources:
    # 1. Doctors Table
    DoctorsTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        # Creates table name: healthcare-api-dev-doctors
        TableName: ${self:service}-${self:provider.stage}-doctors
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: specialization
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        # Global Secondary Index (GSI) to filter by Specialization
        GlobalSecondaryIndexes:
          - IndexName: SpecializationIndex
            KeySchema:
              - AttributeName: specialization
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    # 2. Appointments Table
    AppointmentsTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        # Creates table name: healthcare-api-dev-appointments
        TableName: ${self:service}-${self:provider.stage}-appointments
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: doctorId
            AttributeType: S
          - AttributeName: patientId
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        # GSIs to let Doctors and Patients find their own appointments
        GlobalSecondaryIndexes:
          - IndexName: DoctorAppointmentsIndex
            KeySchema:
              - AttributeName: doctorId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: PatientAppointmentsIndex
            KeySchema:
              - AttributeName: patientId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:service}-user-pool-${self:provider.stage}
        UsernameAttributes:
          - email
        AutoVerifiedAttributes:
          - email
        # 1. Add Schema for Custom Fields
        Schema:
          - Name: role
            AttributeDataType: String
            Mutable: true
          - Name: specialization
            AttributeDataType: String
            Mutable: true
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireNumbers: true

    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:service}-client-${self:provider.stage}
        UserPoolId:
          Ref: CognitoUserPool
        ExplicitAuthFlows:
          - ADMIN_NO_SRP_AUTH
        GenerateSecret: false
        # 2. Allow Frontend to Write these Fields
        WriteAttributes:
          - email
          - name
          - phone_number
          - custom:role
          - custom:specialization
  Outputs:
      UserPoolId:
        Value:
          Ref: CognitoUserPool
      UserPoolClientId:
        Value:
          Ref: CognitoUserPoolClient
        