name: Deploy Frontend

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Dependencies
      run: npm ci

    # We must generate the .env file because it's not in Git
    - name: Create .env file
      run: |
        echo "VITE_API_URL=${{ secrets.VITE_API_URL }}" > .env
        echo "VITE_AWS_REGION=${{ secrets.AWS_REGION }}" >> .env
        echo "VITE_COGNITO_USER_POOL_ID=${{ secrets.VITE_COGNITO_POOL_ID }}" >> .env
        echo "VITE_COGNITO_CLIENT_ID=${{ secrets.VITE_COGNITO_CLIENT_ID }}" >> .env

    - name: Build Project
      run: npm run build

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Deploy to S3
      run: aws s3 sync dist/ s3://${{ secrets.S3_BUCKET_NAME }} --delete